.container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	background: var(--background-secondary);
	border-radius: var(--radius-lg);
	padding: 6px 12px;
	box-shadow: 0 10px 22px rgba(0, 0, 0, 0.35);
	border: 1px solid var(--background-modifier-accent);
	width: 100%;
}
