.root {
	position: relative;
	display: flex;
	align-items: center;
}

.input {
	width: 100%;
	height: 30px;
	padding: 0 32px 0 12px;
	background: var(--main-chat-background);
	border-radius: var(--radius-sm);
	color: var(--text-bright);
	font-size: 13px;
}

.input::placeholder {
	color: var(--text-muted);
}

.icon {
	position: absolute;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-muted);
	pointer-events: none;
}


