@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: grid;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #0D1126;
    place-items: center;
  }

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
}

button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
    color: white;
    border: none;
    background-color: transparent;
    transition: all 250ms;
}

button > svg {
    z-index: 1;
    position: absolute;
}

button {
     color: white;
    font-weight: 600;
    z-index: 2;
    position: relative;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1)
}

.svg_text {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
}

.svg_text  > svg {
    z-index: 1;
    position: absolute;
}

.svg_text > span {
    font-weight: 600;
    z-index: 2;
    position: relative;
    cursor: pointer;
}

#top {
    display: flex;
    justify-content: space-between;
}

.prefix {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.commandCount, .status { 
    font-size: 16px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 40px);
    align-self: center;
    justify-content: center;
}

#switch{
    cursor: pointer;
    list-style: decimal-leading-zero;
}

#middle {
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;

    padding-block: 50px;

}

.memory_container {
    display: flex;
}

.memory_container > :nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.cpu_container {
    display: flex;
}

.cpu_container > :nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}


#helpBubble::after {
    content: attr(data-after-content);
    width: 200px;
    display: flex;
    background-color: #3d3a3a;
    position: absolute;
}

.bubble {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.buttons { 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#terminal {
    display: none;
}

iframe {
    display: block;
    position: absolute;
    transform: translateX(100vw);
    width: 100%;
    height: 100%;
    z-index: 4;
    border: none;
}

#botName {
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
}

.computerUsage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    margin: auto;
    gap: 10px;

}

.infoSpan {
    font-size: 16px;
    width: fit-content;
    font-weight: bold;
}

.memoryValue, .cpuValue {
    font-weight: lighter;
}