# Enable source maps for easier debugging
NODE_OPTIONS="--enable-source-maps"

# Find your credentials in the Discord Developer portal - https://discord.com/developers/applications
DISCORD_CLIENT_ID=""

# Sensitive! Find your credentials in the Discord Developer portal - https://discord.com/developers/applications
DISCORD_TOKEN=""

# Sensitive! Your MongoDB connection URI - https://www.mongodb.com/cloud/atlas
MONGO_URL=""
